@using Microsoft.AspNetCore.Identity
@inject UserManager<AttendanceSystem.Models.ApplicationUser> UserManager

@{
    // Fetch the current user
    var currentUser = await UserManager.GetUserAsync(User);
    string fullName = currentUser?.FullName ?? "Unknown User";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fingerprint Attendance</title>
    <script type="importmap"></script>
    <script>
        (function() {
            var theme = localStorage.getItem('theme');
            if (theme === 'light') {
                document.documentElement.classList.remove('dark-mode');
            } else {
                document.documentElement.classList.add('dark-mode');
            }
        })();
    </script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AttendanceSystem.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <script src="https://kit.fontawesome.com/fc770c52cb.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
</head>
<body>
    <div class="navigation" id="navigation">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">
            <img src="~/favicon.png" alt="Logo" class="logo" class="d-inline-block align-text-top"/>
            Fingerprint Attendance 
        </a>
        <div class="list">
            <h6>MENU</h6>
            <ul>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                    <a asp-controller="Home" asp-action="Index">
                        <div class="list-logo">
                            <i class="fa-solid fa-house"></i>
                        </div>
                        Dashboard
                    </a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Professor" || ViewContext.RouteData.Values["Controller"].ToString() == "Account"? "active" : "")">
                        <a onclick="toggleDropdown(event)" class="dropdown-toggler">
                            <div class="list-logo">
                                <i class="fa-solid fa-user-tie"></i>
                            </div>
                            Professors
                            <span class="dropdown-arrow" style="margin-left: 5px">
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                        </a>
                    </li>
                    <div class="dropdown-container" id="dropdown-container">
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Professor" && ViewContext.RouteData.Values["Action"].ToString() == "AllProfessors" ? "active" : "")">
                            <a asp-controller="Professor" asp-action="AllProfessors" class="dropdown-item1" id="dropdown1">
                                <div class="list-logo">
                                    <i class="fa-solid fa-user-tie"></i>
                                </div>
                                View Available Professors
                            </a>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Account" && ViewContext.RouteData.Values["Action"].ToString() == "Register" ? "active" : "")">
                            <a asp-controller="Account" asp-action="Register" class="dropdown-item1" id="dropdown2">
                                <div class="list-logo">
                                    <i class="fa-solid fa-user-plus"></i>
                                </div>
                                Register Professors
                            </a>
                        </li>
                    </div>
                }
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Student" ? "active" : "")">
                    <a asp-controller="Student" asp-action="AllStudents">
                        <div class="list-logo">
                            <i class="fa-solid fa-user-graduate"></i>
                        </div>
                        Students
                    </a>
                </li>
                @if (User.IsInRole("Professor"))
                {
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Professor" && !(ViewContext.RouteData.Values["Action"].ToString() == "AllProfessors") ? "active" : "")">
                        <a asp-controller="Professor" asp-action="Dashboard">
                            <div class="list-logo">
                                <i class="fa-solid fa-users"></i>
                            </div>
                            Attendance
                        </a>
                    </li>
                }

                @if (User.IsInRole("Admin"))
                {
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Subjects" ? "active" : "")">
                        <a asp-controller="Subjects" asp-action="Dashboard">
                            <div class="list-logo">
                                <i class="fa-solid fa-book"></i>
                            </div>
                            Subjects
                        </a>
			    </li>
                }
            </ul>

        </div>
        <div class="toggle-wrapper">
            <input type="checkbox" id="theme-toggle" />
            <label for="theme-toggle" class="toggle">
                <span class="icon">🌞</span>
                <span class="icon">🌙</span>
                <span class="ball"></span>
            </label>
        </div>
    </div>
    <div class="content">
        <div class="account">
            <div class="status-indicator">
                <div id="statusDot"></div>
                <span id="statusText">Checking...</span>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div>
                        <h6>@fullName</h6>
                        @if (User.IsInRole("Admin"))
                        {
                        <p>Admin</p>
                        }
                        else{
                            <p>Professor</p>
                        }
                    </div>
                    <img src="~/img/user.png" alt="Alternate Text" />
                </a>
				<form method="post" asp-controller="Account" asp-action="Logout" style="position:absolute">
					<button type="submit" class="btn btn-link nav-link">
					    <ul class="dropdown-menu">
                            <li class="dropdown-item">Log out</li>
						</ul>
					</button>
				</form>
            }
            
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - AttendanceSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
