<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fingerprint Attendance</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AttendanceSystem.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <script src="https://kit.fontawesome.com/fc770c52cb.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>


</head>
<body>
    <div class="navigation">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">
            <img src="~/favicon.png" alt="Logo" class="logo" width="30px" height="30px" class="d-inline-block align-text-top"/>
            Fingerprint Attendance 
        </a>
        <div class="list">
            <h6>MENU</h6>
            <ul>
                <a asp-controller="Home" asp-action="Index" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                    <li>
                        <div class="list-logo">
                            <i class="fa-solid fa-house"></i>
                        </div>
                        Dashboard
                    </li>
                </a>
                <a asp-controller="Admin" asp-action="AssignSubject" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Admin" ? "active" : "")">
                    <li>
                        <div class="list-logo">
                            <i class="fa-solid fa-graduation-cap"></i>
                        </div>
                        Professors
                    </li>
                </a>
                <a asp-controller="Student" asp-action="AllStudents" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Student" ? "active" : "")">
                    <li>
                        <div class="list-logo">
                            <i class="fa-solid fa-user-graduate"></i>
                        </div>
                        Students                
                    </li>
                </a>
                <a asp-controller="Professor" asp-action="Dashboard" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Professor" ? "active" : "")">
                    <li>
                        <div class="list-logo">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        Attendance               
                    </li>
                </a>
                <a asp-controller="Subjects" asp-action="Index" class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Subjects" ? "active" : "")">
                    <li>
                        <div class="list-logo">
                            <i class="fa-solid fa-book"></i>
                        </div>
                        Subjects              
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="account">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="#" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div>
                        <h6>@User.Identity.Name</h6>
                        <p>Admin</p>
                    </div>
                    <img src="~/img/user.png" alt="Alternate Text" />
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <button type="submit" class="btn btn-link nav-link">Log out</button>
                        </form>
                    </li>
                </ul>
            }
            
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - AttendanceSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
